---
layout: site
title: Colour scheme
---

{% include header.html %}
<div class="content">
  <h1>Colour schemes</h1>
  <p>This page shows the main Redgate website colour schemes.</p>
</div>
<div class="content">
  <h2>Default: white</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
<div class="content lightest-grey">
  <h2>lightest-grey</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
<div class="content lightest-blue">
  <h2>lightest-blue</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
<div class="content darkest-grey">
  <h2>darkest-grey</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>