---
layout: site
section: style
title: Colours
---

{% include header.html %}
<div class="content">
  <p><a href="style.html">&lt; Style</a></p>

  <h1>Colour schemes</h1>
  <p>At the moment, this page shows the Redgate website colour schemes, but should be replaced with the colour palettes that Pete's been working on.</p>
  <p>These should include hex values, and anything else needed to make it easy to put them straight into an application.</p>
  <p>Also needs to include <strong>where we use which colours</strong>: eg if there's a background colour, header colour, error colour, etc.</p>
</div>
<div class="content">
  <h2>Default: white</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
<div class="content lightest-grey">
  <h2>lightest-grey</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
<div class="content lightest-blue">
  <h2>lightest-blue</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
<div class="content darkest-grey">
  <h2>darkest-grey</h2>
  <hr>
  {% capture my_include %}{% include example.md %}{% endcapture %}
  {{ my_include | markdownify }}
</div>